In [12]:
#Hotel FinalPrice
!pip3 -q install psycopg2-binary pandas
import kagglehub
import os
import pandas as pd

path = kagglehub.dataset_download("joyshil0599/hotel-dataset-rates-reviews-and-amenities5k")

print("Path to dataset files:", path)
print(os.listdir(path))

df = pd.read_csv(path + "/booking_hotel.csv", encoding='latin1')
df.head()

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Path to dataset files: /Users/hectorthompsonbaroni/.cache/kagglehub/datasets/joyshil0599/hotel-dataset-rates-reviews-and-amenities5k/versions/1
['booking_hotel.csv', 'tripadvisor_room.csv']

,Hotel Name,Location,Rating,Review Score,Number of,Room Score,Room Type,Bed Type,Room Price (in BDT or any other currency)
0,Krabi La Playa Resort - SHA Plus,Ao Nang Beach,8.2,Very Good,141,8.6,Deluxe Double or Twin Room,1 double or 2 twins,"146,026"
1,KC Beach Club & Pool Villas,"Chaweng City Center , Chaweng",7.1,Good,193,NaN,Double Room with Balcony and Sea View,1 queen bed,"215,304"
2,Rawai VIP Villas & Kids Park,Rawai Beach,8.3,Very Good,63,8.9,2 Bedroom Pool Villa,2 queen beds,"435,384"
3,"FuramaXclusive Sathorn, Bangkok","Bang Rak, Bangkok",7.7,Good,"1,304",8.1,Executive Double Room,1 full bed,"146,240"
4,Bo Phut Resort and Spa - SHA Plus,Bophut,9.3,Wonderful,294,9.6,Villa with Garden View,1 double or 2 twins,"621,072"

In [13]:
print(df.columns)

Index(['Hotel Name', 'Location', 'Rating', 'Review Score', 'Number of   ',
       'Room    Score', 'Room Type', 'Bed Type',
       'Room Price (in BDT or any other currency)'],
      dtype='object')

In [14]:
target_col = "Room Price (in BDT or any other currency)"

feature_cols = [
    "Room Type",
    "Bed Type",
    "Location",
    "Rating",
]

df_clean = df.dropna(subset=feature_cols + [target_col])

X = df_clean[feature_cols].copy()
y = df_clean[target_col].copy()

print(X.head())
print(y.head())

                               Room Type                Bed Type  \
0             Deluxe Double or Twin Room     1 double or 2 twins
1  Double Room with Balcony and Sea View             1 queen bed
2                   2 Bedroom Pool Villa            2 queen beds
3                  Executive Double Room              1 full bed
4                 Villa with Garden View     1 double or 2 twins

                        Location Rating
0                  Ao Nang Beach    8.2
1  Chaweng City Center , Chaweng    7.1
2                    Rawai Beach    8.3
3              Bang Rak, Bangkok    7.7
4                         Bophut    9.3
0       146,026
1       215,304
2       435,384
3       146,240
4       621,072
Name: Room Price (in BDT or any other currency), dtype: object

In [15]:
#start train and test the  model

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

target_col = "Room Price (in BDT or any other currency)"

categorical_cols = ["Room Type","Bed Type", "Location"]
numeric_cols = ["Rating"]
feature_cols = categorical_cols + numeric_cols

df_clean = df.dropna(subset=feature_cols + [target_col]).copy()


df_clean[target_col] = (
    df_clean[target_col]
    .astype(str)
    .str.replace(",", "")
    .str.replace(" ", "")
    .astype(float)
)

df_clean["Rating"] = pd.to_numeric(df_clean["Rating"], errors="coerce")

df_clean = df_clean.dropna(subset=["Rating"])

X = df_clean[feature_cols].copy()
y = df_clean[target_col].copy()

preprocess = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols),
        ("num", "passthrough", numeric_cols),
    ]
)


model = RandomForestRegressor(
    n_estimators=200,
    random_state=42,
    n_jobs=-1
)

clf = Pipeline(steps=[
    ("preprocess", preprocess),
    ("model", model)
])


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("MAE:", mae)
print("RMSE:", rmse)
print("R^2 score:", clf.score(X_test, y_test))

MAE: 92739.66370859137
RMSE: 235624.62225755624
R^2 score: 0.43860511564740823

In [16]:
#save the ML model

import joblib

joblib.dump(clf, "models/hotel_price_model.pkl")
print("Model saved as hotel_price_model.pkl")

Model saved as hotel_price_model.pkl

In [17]:
#connect the ML modle with our database

import psycopg2
import pandas as pd

DATABASE_URL = "postgresql://postgres.kzjmeqcujcfdmzzakndm:tPkXAKmBp1K8UXH15g5a@aws-1-us-east-1.pooler.supabase.com:6543/postgres"


conn = psycopg2.connect(DATABASE_URL)
print("Connected to Supabase successfully!")

df = pd.read_sql("SELECT * FROM hotel LIMIT 5;", conn)
df

Connected to Supabase successfully!

/var/folders/xw/fqgz8zys6kbgzg3rlxjygz8c0000gn/T/ipykernel_9519/2627754229.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM hotel LIMIT 5;", conn)

,hotelid,country,city,street,hotelrating,phonenum,websiteurl,name,roomtype,bedtype,baseprice
0,1,France,Paris,7239 Queen St,4,+1-795-981-4603,https://www.royalpalaceparis.com,Royal Palace Paris,One Bedroom Suite,1 queen bed,22.73
1,2,Canada,Vancouver,301 Market St,3,+1-679-221-3133,https://www.imperialhotelvancouver.com,Imperial Hotel Vancouver,Superior Double Room,1 double bed,29.49
2,3,Germany,Frankfurt,6930 Queen St,4,+1-306-698-1816,https://www.paradiseresortfrankfurt.com,Paradise Resort Frankfurt,Premium King Room,1 double or 2 twins,82.36
3,4,Germany,Frankfurt,2896 Beach Blvd,3,+1-668-601-3256,https://www.harborhotelfrankfurt.com,Harbor Hotel Frankfurt,Triple Room,1 double or 2 twins,52.29
4,5,USA,Seattle,4771 Mountain View,4,+1-115-918-1975,https://www.imperialhotelseattle.com,Imperial Hotel Seattle,Junior Suite,1 queen bed,16.78

In [18]:
model = joblib.load("models/hotel_price_model.pkl")

def predict_price_from_hotel_row(row):
    df_input = pd.DataFrame([{
        "Location": row["city"],
        "Rating": row["hotelrating"],
        "Room Type": row["roomtype"],
        "Bed Type": row["bedtype"],
    }])
    return float(model.predict(df_input)[0])

In [19]:
# Exsample to retrive data from relation HOTEL and predict the price

hotel_id = 1

hotel_row = pd.read_sql(
    "SELECT hotelid, name, city, hotelrating, roomtype, bedtype FROM hotel WHERE hotelid = %s;",
    conn,
    params=(hotel_id,)
).iloc[0]

predicted_price = predict_price_from_hotel_row(hotel_row)
print("Predicted FinalPrice:", predicted_price)

/var/folders/xw/fqgz8zys6kbgzg3rlxjygz8c0000gn/T/ipykernel_9519/876114536.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  hotel_row = pd.read_sql(

Predicted FinalPrice: 222694.13

In [21]:
#adding the final price to TRANSACTION relation

transaction_id = 2002 #Automatically
num_guests = 2 #user input
num_nights = 3 #user input

transaction_id=transaction_id +1
hotel_id=hotel_id+1

with conn.cursor() as cur:
    cur.execute("""
        INSERT INTO transaction(
         transactionid,
         amount
         )
        VALUES (%s, %s);
    """, (transaction_id,predicted_price))

print("Booking inserted with FinalPrice.")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
#adding hotel book info into hotel_booking relation after confirmation

with conn.cursor() as cur:
    cur.execute("""
        INSERT INTO hotel_booking (
            hotelid,
            transactionid,
            numofguests,
            numofnights
        )
        VALUES (%s, %s, %s, %s);
    """, (hotel_id, transaction_id, num_guests, num_nights))

conn.commit()
print("Booking inserted and FinalPrice stored in TRANSACTION.")

Booking inserted and FinalPrice stored in TRANSACTION.

In [22]:
#Flight FinalPrice

path = kagglehub.dataset_download("anshuman0427/flight-price-dataset")
print("Path to dataset files:", path)
print(os.listdir(path))


df_flight = pd.read_csv(path + "/Data_Train.csv")
df_flight.head()

Downloading from https://www.kaggle.com/api/v1/datasets/download/anshuman0427/flight-price-dataset?dataset_version_number=1...

100%|██████████| 164k/164k [00:00<00:00, 1.97MB/s]

Extracting files...

Path to dataset files: /Users/hectorthompsonbaroni/.cache/kagglehub/datasets/anshuman0427/flight-price-dataset/versions/1
['Data_Train.csv', 'processed_data.csv']

       Airline Date_of_Journey    Source Dep_Time Destination  Class  Price
0       IndiGo      24/03/2019  Banglore    22:20   New Delhi      0   3897
1    Air India       1/05/2019   Kolkata    05:50    Banglore      0   7662
2  Jet Airways       9/06/2019     Delhi    09:25      Cochin      0  13882
3       IndiGo      12/05/2019   Kolkata    18:05    Banglore      0   6218
4       IndiGo      01/03/2019  Banglore    16:50   New Delhi      0  13302

In [23]:
target_col = "Price"

feature_cols = ["Airline", "Source", "Destination", "Date_of_Journey"]

df_clean = df_flight.dropna(subset=feature_cols + [target_col]).copy()


df_clean["Date_of_Journey"] = pd.to_datetime(df_clean["Date_of_Journey"], format="%d/%m/%Y")
df_clean["Journey_day"] = df_clean["Date_of_Journey"].dt.day
df_clean["Journey_month"] = df_clean["Date_of_Journey"].dt.month


feature_cols_final = ["Airline", "Source", "Destination", "Journey_day", "Journey_month"]

X = df_clean[feature_cols_final].copy()
y = df_clean[target_col].copy()

In [24]:
categorical_cols = ["Airline", "Source", "Destination"]
numeric_cols = ["Journey_day", "Journey_month"]

preprocess = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols),
        ("num", "passthrough", numeric_cols),
    ]
)

model = RandomForestRegressor(
    n_estimators=200,
    random_state=42,
    n_jobs=-1
)

clf_flight = Pipeline(steps=[
    ("preprocess", preprocess),
    ("model", model)
])

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

clf_flight.fit(X_train, y_train)

y_pred = clf_flight.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("MAE:", mae)
print("RMSE:", rmse)
print("R^2 score:", clf_flight.score(X_test, y_test))

MAE: 1559.8711478296182
RMSE: 2227.187151170105
R^2 score: 0.7656222565615991

In [26]:

joblib.dump(clf_flight, "models/flight_price_model.pkl")
print("Model saved as flight_price_model.pkl")

Model saved as flight_price_model.pkl

In [27]:
#connect the ML modle with our database

import psycopg2
import pandas as pd

DATABASE_URL = "postgresql://postgres.kzjmeqcujcfdmzzakndm:tPkXAKmBp1K8UXH15g5a@aws-1-us-east-1.pooler.supabase.com:6543/postgres"


conn = psycopg2.connect(DATABASE_URL)
print("Connected to Supabase successfully!")

df = pd.read_sql("SELECT * FROM flight LIMIT 5;", conn)
df

Connected to Supabase successfully!

/var/folders/xw/fqgz8zys6kbgzg3rlxjygz8c0000gn/T/ipykernel_9519/843629525.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM flight LIMIT 5;", conn)

,flightnumber,date,departureairportid,arrivalairportid,airlineid,baseprice
0,LH3659,2025-01-01,43,26,12,366.0
1,LH3659,2025-01-02,43,26,12,366.0
2,LH3659,2025-01-03,43,26,12,366.0
3,LH3659,2025-01-04,43,26,12,366.0
4,LH3659,2025-01-05,43,26,12,366.0

In [29]:
flight_model= joblib.load("models/flight_price_model.pkl")

def predict_flight_price_from_row(row):
    d = pd.to_datetime(row["date"])

    df_input = pd.DataFrame([{
        "Airline": str(row["airlineid"]),
        "Source": str(row["departureairportid"]),
        "Destination": str(row["arrivalairportid"]),
        "Journey_month": int(d.month),
        "Journey_day": int(d.day),
    }])

    return float(flight_model.predict(df_input)[0])

In [30]:
# Exsample to retrive data from relation FLIGHT and predict the price

flightnumber = "AA1047"

flight_row = pd.read_sql(
    """
    SELECT flightnumber, airlineid, departureairportid, arrivalairportid, Date
    FROM flight
    WHERE flightnumber = %s;
    """,
    conn,
    params=(flightnumber,)
).iloc[0]

predicted_price = predict_flight_price_from_row(flight_row)
print("Predicted Flight FinalPrice:", predicted_price)

/var/folders/xw/fqgz8zys6kbgzg3rlxjygz8c0000gn/T/ipykernel_9519/1487616184.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  flight_row = pd.read_sql(

Predicted Flight FinalPrice: 8515.670324703076

In [33]:
#adding the final price to TRANSACTION relation

num_travelers = 3 #user input
Flight_date = "2025-01-01" #user input

with conn.cursor() as cur:
    cur.execute("""
        INSERT INTO transaction(
         transactionid,
         amount
         )
        VALUES (%s, %s);
    """, (transaction_id, predicted_price))

print("reservation inserted with FinalPrice.")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [32]:
#adding flight reserve info into FLIGHT_RESERVATION relation after confirmation

with conn.cursor() as cur:
    cur.execute(
        """
        INSERT INTO flight_reservation (
            flightnumber,
            transactionid,
            numofpassengers,
            Date
        )
        VALUES (%s, %s, %s, %s);
        """,
        (flightnumber, transaction_id, num_travelers,Flight_date)
    )

conn.commit()
print("Flight reservation inserted, and FinalPrice stored in TRANSACTION")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block